
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">Order Details</h1>

      
      
      <div class="mb-3">
        <strong>Customer:</strong> <%= order.name %>
      </div>
      <div class="mb-3">
        <strong>Address:</strong> <%= order.address %>
      </div>
      <div class="mb-3">
        <strong>Province:</strong> <%= order.province.name %>
      </div>
      <div class="mb-3">
        <strong>Status:</strong> <%= order.status %>
      </div>

      <div class="mb-3">
        <strong>Created At:</strong> <%= order.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
      </div>

      <h2 class="mt-5">Order Items:</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% order.order_items.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= item.quantity %></td>
              <td><%= number_to_currency(item.price) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="mb-3">
        <strong>Subtotal:</strong> <%= number_to_currency(order.total_amount) %>
      </div>
      <div class="mb-3">
        <strong>GST:</strong> <%= number_to_currency(order.gst) %>
      </div>
      <div class="mb-3">
        <strong>PST:</strong> <%= number_to_currency(order.pst) %>
      </div>

      <div class="mb-3">
        <strong>HST:</strong> <%= number_to_currency(order.hst) %>
      </div>
      <div class="mb-4">
        <strong>Total:</strong> <%= number_to_currency(order.total_amount_with_taxes) %>
      </div>
    </div>
  </div>
</div>
