<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= order.total_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Gst:</strong>
    <%= order.gst %>
  </p>

  <p>
    <strong>Pst:</strong>
    <%= order.pst %>
  </p>

</div>


<%#  %>