<p style="color: green"><%= notice %></p>

<!-- app/views/orders/index.html.erb -->

<h1>My Orders</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Total (after taxes)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.order_items.first.product.name %></td>
        <td><%= order.order_items.first.quantity %></td>
        <td><%= order.status %></td>
        <td><%= number_to_currency(order.total_amount_with_taxes) %></td>
        <td><%= link_to 'Show', order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
