<p style="color: green"><%= notice %></p>

<%= render 'shared/header' %>
<br>


<h3>Orders</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Status</th>
      <th>Total (after taxes)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.order_items.first.product.created_at %></td>
        <td><%= order.order_items.first.updated_at %></td>
        <td><%= order.status %></td>
        <td><%= number_to_currency(order.total_amount_with_taxes) %></td>
        <td><%= link_to 'Show', order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
