
<%= render 'shared/admin_header', title: 'Past Orders' %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Products</th>
        <th>Taxes</th>
        <th>Grand Total</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |item| %>
        <tr>
          <td><%= @order.id %></td>
          <td><%= @order.user.name %></td>
          <td><%= item.product.name %></td>
          <td><%= number_to_currency(@order.gst + @order.pst) %></td>
          <td><%= number_to_currency(@order.total_amount_with_taxes) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
