<%= form_tag(search_orders_path, method: :get, class: "search-form") do %>
  <%= text_field_tag :search_term, params[:search_term], placeholder: "Buscar por email o número de orden" %>
  <%= submit_tag "Buscar" %>
<% end %>

<% if @orders.any? %>
  <table>
    <thead>
      <tr>
        <th>Orden ID</th>
        <th>Estado</th>
        <th>Total</th>
        <!-- ... Otros encabezados ... -->
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.status %></td>
          <td><%= order.total_amount %></td>
          <!-- ... Otros datos ... -->
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No se encontraron órdenes.</p>
<% end %>
