<p style="color: green"><%= notice %></p>
<%= render 'shared/header' %>

<h1>Edit Account</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
