<div class="position-relative" id="<%= dom_id product %>">
  <div class="row">
    <div class="col-md-6">
      <h2><%= product.name %></h2>

      <p class="mb-3">
        <strong>Description:</strong><br>
        <%= product.description %>
      </p>

      <p class="mb-3">
        <strong>Price:</strong> $<%= number_with_precision(product.price, precision: 2) %>
      </p>

      <p class="mb-3">
        <strong>Brand:</strong><br>
        <%= product.brand %>
      </p>

      <p class="mb-3">
        <strong>Category:</strong><br>
        <%= product.category.name %>
      </p>

      <div class="card-footer">
        <%= button_to 'Add to Cart', cart_items_path(product_id: product.id), method: :post, class: "btn btn-primary" %>         
      </div>
    </div>

    <div class="col-md-6">
      <div class="product-image-container">
        <% if product.image.attached? %>
          <!-- Show attached image using Active Storage -->
          <%= image_tag url_for(product.image), class: "img-fluid", alt: product.name %>
        <% elsif product.image.is_a?(String) && product.image.start_with?('http') %>
          <!-- Show image using the URL -->
          <%= image_tag product.image, class: "img-fluid", alt: product.name %>
        <% else %>
          <!-- Show a placeholder image if no image is attached or URL provided -->
          <%= image_tag 'generic_image.png', class: "img-fluid", alt: product.name %>
        <% end %>
      </div>
    </div>
  </div>
</div>
