<!-- app/views/products/index.html.erb -->

<p style="color: green"><%= notice %></p>

<p style="color: blue"><%= flash[:cart_notice] %></p>

<%= render 'shared/header' %>

<div class="container my-4">
  <h1>Products</h1>

  <!-- Products cards -->
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <% if product.image.attached? %>
          <!-- Show attached image using Active Storage -->
            <%= image_tag url_for(product.image), class: "img-fluid", alt: product.name %>
          <% elsif product.image.is_a?(String) && product.image.start_with?('http') %>
          <!-- Show image using the URL -->
              <%= image_tag product.image, class: "img-fluid", alt: product.name %>
            <% else %>
            <!-- Show a placeholder image if no image is attached or URL provided -->
                <%= image_tag 'generic_image.png', class: "img-fluid", alt: product.name %>
            <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= link_to product.name, product %></h5>
            <p>Category: <%= product.category.name %></p>
            <p class="card-text"><%= truncate(product.description, length: 150, separator: ' ', omission: '...') %></p>
            <p class="card-text price">$<%= product.price %></p>

          </div>
          <div class="card-footer">
            <%= button_to 'Add to cart', cart_items_path(product_id: product.id), method: :post, class: "btn btn-light" %>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center">
    <%= paginate @products, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
