<p style="color: green"><%= notice %></p>

<%= render 'shared/header' %>

<%= render @product %>
<% if @product.image.attached? %>
  <%= image_tag @product.image %>
<% else %>
<!-- Show image using the URL -->
            <%= image_tag product.image, alt:product class: 'card-img-top' %>

  <p>No image available</p>
<% end %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
