<p style="color: green"><%= notice %></p>

<%= render 'shared/header' %>

<%= render @product %>



<% if @product.image.is_a?(String) && @product.image.start_with?('http') %>
  <!-- Show image using the URL -->
  <%= image_tag @product.image, class: 'card-img-top', alt: @product.name %>
<% else %>
  <p>No image available</p>
<% end %>



<% if product.image.is_a?(String) && product.image.start_with?('http') %>
  <!-- Show image using the URL -->
  <div class="image-container">
    <%= image_tag product.image, class: 'card-img-top', alt: product.name %>
  </div>
<% else %>
  <div class="image-container">
    <p>No image available</p>
  </div>
<% end %>





