<p style="color: green"><%= notice %></p>

<%= render 'shared/header' %>

<!-- breadcrumbs -->

<% @breadcrumbs.each_with_index do |breadcrumb, index| %>
  <% if index < @breadcrumbs.length - 1 %>
    <%= link_to breadcrumb[:name], breadcrumb[:path] %> >
  <% else %>
    <%= breadcrumb[:name] %>
  <% end %>
<% end %>

<%= render @product %>















