<p style="color: green"><%= notice %></p>

<%= render 'shared/header' %>

<%= render @product %>



<div class="image-container">
  <% if @product.image.is_a?(ActiveStorage::Attached::One) %>
    <!-- Show attached image using Active Storage -->
    <%= image_tag url_for(@product.image), class: 'card-img-top', alt: @product.name %>
  <% elsif @product.image.is_a?(String) && @product.image.start_with?('http') %>
    <!-- Show image using the URL -->
    <%= image_tag @product.image, class: 'card-img-top', alt: @product.name %>
  <% else %>
    <p>No image available</p>
  <% end %>
</div>









