

<!DOCTYPE html>
<html>
<head>
  <title>Beauty Cosmetics</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%# Fonts Awesome %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-1234567890abcdefghijklmnopqrstuvwxyz" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Beauty Cosmetics</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Us', about_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Categories", categories_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Contact', contact_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Orders', orders_path, class: "nav-link" %>
        </li> 

        <%# User Profile %>
        <li class="nav-item">
         <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Account", user_path(current_user), class: "nav-link" %></li>
        
        <% end %>
        </li>

          <%# login user test %>
          <li class="nav-item">
          <% if user_signed_in? %>
            <%= form_tag destroy_user_session_path, method: :delete do %>
              <%= submit_tag 'Logout',  class: "btn btn-outline-secondary" %>
            <% end %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, class: "nav-link"  %>
          <% end %>
          </li>

      </ul>




<!-- Cart Item -->
<div>
<%= link_to cart_path, class: 'btn btn-dark btn-lg' do %>
  <i class="bi bi-cart"></i>
  <span class="badge bg-danger"><%= @cart_count %></span>
<% end %>
</div>


<%# Search by Category %>

<%= form_tag search_categories_path, method: :get do %>
  <div class="form-group">
    <%= label_tag :category_id, 'Select a category:' %>
    <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), include_blank: 'All Categories', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :search, 'Search Products:' %>
    <%= text_field_tag :search, params[:search], class: 'form-control' %>
  </div>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>



</nav>

  <div class="container">
    <%= yield %>
  </div>
</body>

</html>

