<!-- app/views/cart_items/index.html.erb -->
<h1>Cart Items</h1>

<h2>Subtotal: <%= number_to_currency(@subtotal) %></h2>

<h3>Products in Cart:</h3>
<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.product.name %></td>
        <td><%= cart_item.quantity %></td>
        <td><%= number_to_currency(cart_item.product.price) %></td>
        <td>
          <%= button_to cart_item_path(cart_item), method: :delete, data: { confirm: 'Remove this product from the cart?' } do %>
            Remove
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with(model: @cart_item, url: cart_items_path) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :province_id, 'Select a province:' %>
    <%= form.select :province_id, options_from_collection_for_select(@provinces, :id, :name) %>
  </div>

  <%= form.submit 'Calculate Taxes and Proceed to Payment' %>
<% end %>
