<!-- app/views/cart_items/show.html.erb -->

<h1>Detalles del elemento del carrito</h1>

<% if @cart_items.any? %>
  <ul>
    <% @cart_items.each do |item| %>
      <li>
        Nombre del producto: <%= item['product_name'] %>
        Cantidad: <%= item['quantity'] %>
        Precio: <%= item['price'] %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No hay productos en el carrito.</p>
<% end %>

<!-- Mostrar los valores del formulario -->
<p>Nombre del usuario: <%= @user_name %></p>
<p>Dirección del usuario: <%= @user_address %></p>
<p>Provincia seleccionada: <%= Province.find_by(id: @province_id)&.name %></p>
<p>Total después de impuestos: <%= @total_amount_with_taxes %></p>
