<h1>Detalles del elemento del carrito</h1>
<p>ID: <%= @cart_item.id %></p>
<p>Nombre del producto: <%= @cart_item.product_name %></p>
<p>Cantidad: <%= @cart_item.quantity %></p>
<p>Precio unitario: <%= @cart_item.unit_price %></p>
<p>Precio total: <%= @cart_item.total_price %></p>
