<%= render 'shared/header' %>

<br>
<div class="container">
  <% if @category %>
    <h3>Products in <%= @category.name %> category</h3>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <% if product.image.attached? %>
              <% if product.image.url.start_with?('http') %>
                <!-- Mostrar imagen utilizando el enlace URL -->
                <img src="<%= product.image.url %>" class="card-img-top" alt="<%= product.name %>">
              <% else %>
                <!-- Mostrar imagen adjunta utilizando Active Storage -->
                <img src="<%= product.image.url %>" class="card-img-top" alt="<%= product.name %>">
              <% end %>
            <% else %>
              <!-- Mostrar una imagen de reemplazo si no hay imagen adjunta ni URL -->
              <img src="/assets/imagen_de_reemplazo.jpg" class="card-img-top" alt="<%= product.name %>">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="d-flex justify-content-center">
    <%= paginate @products, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

</div>






<div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <% if product.image.attached? %>          
            <%= image_tag url_for(product.image), class: "img-fluid", alt: product.name %>
          <% elsif product.image.is_a?(String) && product.image.start_with?('http') %>          
              <%= image_tag product.image, class: "img-fluid", alt: product.name %>
            <% else %>
            <!-- Show a placeholder image if no image is attached or URL provided -->
                <%= image_tag 'generic_image.png', class: "img-fluid", alt: product.name %>
            <% end %>


          <!-- <% if product.image.is_a?(String) && product.image.start_with?('http') %> -->
            <!-- Show image using the URL -->
            <!-- <%= image_tag product.image, class: 'card-img-top', alt: product.name %>
          <% else %>
            
            <%= image_tag 'generic_image.png', class: 'card-img-top' %>
          <% end %> -->
          <div class="card-body">
            <h5 class="card-title"><%= link_to product.name, product %></h5>
            <p>Category: <%= product.category.name %></p>
            <p class="card-text"><%= truncate(product.description, length: 150, separator: ' ', omission: '...') %></p>
            <p class="card-text price">$<%= product.price %></p>

          </div>
          <div class="card-footer">
            <%= button_to 'Add to cart', cart_items_path(product_id: product.id), method: :post, class: "btn btn-light" %>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>